@use "../variables" as *;

.history-sidebar {
  width: 0;
  min-width: 0;
  max-height: 100vh;
  overflow: hidden;
  transition: width $transition-normal ease, transform $transition-normal ease, min-width $transition-normal ease;
  z-index: $z-sidebar;
  display: flex;
  flex-direction: column;
  background: var(--bg);

  > * {
    white-space: nowrap;
  }

  &.visible {
    width: $sidebar-width;
    min-width: $sidebar-width;
    border-right: 1px solid var(--border-weak);
  }

  @media (max-width: $breakpoint-l) {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    transform: translateX(-100%);

    &.visible {
      transform: translateX(0);
    }
  }

  .history-list {
    flex: 1;
    overflow-y: auto;
    padding: 0 $page-h-padding;

    @include scrollbar;
  }

  .history-star {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 4px;
    padding: 6px 6px 6px 10px;
    font-size: 14px;
    font-weight: 500;
  }

  .history-list-split {
    height: 1px;
    width: 100%;
    background: var(--bg-op-dark-mediumweak);
    margin: 16px 0;
  }

  .history-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    border-radius: 8px;
    padding: 6px 6px 6px 10px;
    margin-bottom: 4px;

    &.active {
      background: var(--bg-op-blue-ultraweak);
    }

    &:hover,
    &:has(.sidebar-chat-menu[data-state="open"]) {
      background: var(--bg-op-dark-ultraweak);

      .sidebar-chat-menu {
        opacity: 1;
      }
    }

    .history-content {
      flex: 1;
      min-width: 0;
      margin-right: 8px;

      .history-title {
        font-weight: 500;
        margin-bottom: 2px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .history-date {
        font-size: 12px;
        color: var(--text-weak);
      }
    }

    .sidebar-chat-menu {
      opacity: 0;
      height: 24px;
      width: 24px;
      padding: 4px;
      background: none;
      border: none;
      border-radius: 50%;
      cursor: pointer;
      transition: all $transition-fast;

      &:hover {
        background: var(--bg-op-dark-ultraweak);
      }

      &[data-state="open"] {
        opacity: 1;
      }

      svg {
        width: 16px;
        height: 16px;
        fill: currentColor;
      }
    }
  }

  .history-header {
    padding: 16px $page-h-padding;

    .new-chat-btn {
      font-weight: 500;
      transition: background $transition-fast;
    }
  }

  .sidebar-footer {
    margin-top: auto;
    padding: 16px;
    border-top: 1px solid var(--border-weak);

    .sidebar-footer-btn {
      display: flex;
      align-items: center;
      gap: 8px;
      width: 100%;
      padding: 8px 12px;
      border: none;
      border-radius: 6px;
      background: none;
      color: inherit;
      cursor: pointer;
      transition: all $transition-fast;

      &:hover {
        background: var(--bg-op-dark-extremeweak);
      }

      &:focus {
        outline: none;
      }

      svg {
        fill: none;
        color: var(--stroke-op-dark-extremestrong);

        &.filter {
          fill: currentColor;
        }
      }
    }

    .sidemenu-btn {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 8px;
      width: 100%;

      &:hover {
        background: unset;
      }
    }
  }
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--bg-overlay);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: $z-modal;
}

.confirm-modal {
  background: var(--bg-weak);
  padding: 24px;
  border-radius: 8px;
  min-width: 300px;

  h3 {
    margin: 0 0 20px;
    text-align: center;
  }

  .confirm-actions {
    display: flex;
    justify-content: center;
    gap: 12px;
  }
}

.history-sidebar-side-menu-container {
  position: relative;

  .history-sidebar-side-menu-trigger {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 8px;
  }

  .oap-user-info {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .oap-avatar {
    width: 20px;
    height: 20px;
    border-radius: 50%;
  }

  .oap-username {
    max-width: 138px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .oap-label {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .oap-level {
    display: flex;
    align-items: center;
    gap: 4px;
    color: var(--text-pri-blue);
    font-weight: 600;
    font-size: 16px;
  }
}

.history-sidebar-side-menu {
  position: fixed;
  z-index: $z-sidebar;
  background-color: var(--bg-medium);
  color: var(--text-medium);
  box-shadow: 0 3px 7px var(--shadow-modal);
  font-size: 14px;
  border-radius: 6px;
  padding: 8px;
  min-width: 300px;

  .item {
    &:not(:first-child) {
      margin-top: 8px;
    }
  }

  .sidebar-footer-btn {
    display: flex;
    align-items: center;
    gap: 8px;
    width: 100%;
    padding: 10px 12px;
    border: none;
    border-radius: 0px;
    background: none;
    color: inherit;
    cursor: pointer;
    transition: all 0.2s;
    font-size: 16px;

    &:focus {
      outline: none;
    }

    &:hover {
      background: var(--bg-op-dark-extremeweak);
    }

    svg {
      fill: none;
      color: var(--stroke-op-dark-extremestrong);

      &.filter {
        fill: currentColor;
      }
    }

    img {
      width: 20px;
      height: 20px;
    }

    &.oap {
      justify-content: space-between;
      position: relative;
      margin-top: 16px;

      &:before {
        content: "";
        display: block;
        width: 100%;
        height: 0px;
        border-top: 1px solid var(--border-weak);
        position: absolute;
        top: -8px;
        left: 0;
      }

      .oap-label {
        display: flex;
        align-items: center;
        gap: 8px;
      }

      .oap-level {
        display: flex;
        align-items: center;
        gap: 4px;
        color: var(--text-pri-blue);
        font-weight: 600;
        font-size: 16px;
      }
    }
  }
}

.sidebar-chat-menu-item {
  display: flex;
  align-items: center;
  gap: 10px;

  svg {
    width: 22px;
    height: 22px;
    color: var(--text-weak);
  }
}

.popup-confirm {
  &.delete-confirm-modal {
    .popup-confirm-header {
      h3 {
        margin: 0;
      }
    }
    .popup-confirm-content {
      padding: 0;
      color: var(--text-medium);
    }
  }

  &.rename-confirm-modal {
    width: 500px;
    padding: 0 30px;

    .popup-confirm-header {
      h3 {
        margin: 0;
      }
    }

    .rename-confirm-modal-content {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      gap: 8px;
      width: 100%;
      font-size: 20px;
      font-weight: 600;

      input {
        width: 100%;
        padding: 8px;
        border: none;
        border-radius: 10px;
        font-size: 15px;
        background: var(--bg-op-dark-extremeweak);
        color: var(--text);

        &:focus {
          outline: none;
        }
      }
    }
  }
}